.taskItem {
    display: flex;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    cursor: pointer;
}

.taskItem h3 {
    margin: 0;
    color: #333;
}

.taskItem p {
    margin: 5px 0;
    color: #666;
}